<div class="admin-shell">

  <aside class="sidebar">

    <h2>
      Event Parking
    </h2>

    <nav>

      <a routerLink="/admin/dashboard">
        Dashboard
      </a>

      <a routerLink="/admin/events">
        Events
      </a>

      <a routerLink="/admin/venues">
        Venues
      </a>

      <a routerLink="/admin/categories">
        Categories
      </a>

      <a routerLink="/admin/seats">
        Seats
      </a>

      <a routerLink="/admin/parking">
        Parking
      </a>

      <a routerLink="/admin/customers">
        Customers
      </a>

    </nav>

  </aside>


  <main class="content">

    <router-outlet></router-outlet>

  </main>


</div>
